In [4]:
# 個股日本益比、殖利率及股價淨值比

import time
import requests
import pandas as pd

from io import StringIO
from datetime import date

Date = '20210609'
Today = date.today().strftime('%Y-%m-%d')

URL = "https://www.twse.com.tw/exchangeReport/BWIBBU_d?response=html&date=" + Date + "&selectType=ALL"

headers={
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.190 Safari/537.36"
}

req = requests.get(URL, headers=headers)
req.encoding='big5'
    
dfs= pd.read_html(URL.format())
dfs[0].columns = dfs[0].columns.droplevel()

New_dfs = dfs[0]
New_dfs['Date'] = Today
New_dfs['Date'] = pd.to_datetime(New_dfs['Date'])

New_csv = New_dfs
New_csv.to_csv('PER_PBR_ROE_' + Date + '.csv', encoding='utf_8_sig')
New_csv = pd.read_csv('PER_PBR_ROE_' + Date + '.csv')

time.sleep(5)

#印出
New_dfs

     證券代號  證券名稱  殖利率(%)  股利年度    本益比  股價淨值比  財報年/季       Date
0    1101    台泥    6.82   109  12.27   1.48  110/1 2021-06-09
1    1102    亞泥    7.02   109   9.90   1.13  110/1 2021-06-09
2    1103    嘉泥    6.39   109   7.63   0.56  110/1 2021-06-09
3    1104    環泥    4.85   109  10.37   0.79  110/1 2021-06-09
4    1108    幸福    5.05   109  15.92   1.26  110/1 2021-06-09
..    ...   ...     ...   ...    ...    ...    ...        ...
947  9944    新麗    1.83   109  29.46   0.84  110/1 2021-06-09
948  9945   潤泰新    9.60   109   6.39   0.83  110/1 2021-06-09
949  9946  三發地產    5.39   109  92.81   0.72  110/1 2021-06-09
950  9955    佳龍    0.00   108      -   1.24  110/1 2021-06-09
951  9958   世紀鋼    3.24   109  26.73   3.95  110/1 2021-06-09

[952 rows x 8 columns]